h1 {
	font-size: 50px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0px;
	color: #cc8400;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	background-color: #DDD;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cc8400;
}

img {
	padding-left: 5%;
	padding-right: 5%;
}

section {
	display: block;
	padding-left: 10%;
	padding-right: 10%;
	
}

div{
	text-align: left;
	padding-bottom: 20px;
	
}

div.fett{
	padding: 0px;
	font-weight: bold;
	padding-top: 5px;
}

div.back{
	margin-top: 10px;
	font-size: 23px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

a.back{
	background-color: #DDD;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #cc8400;
}

h2 {
	text-align: left;
	margin: 0px;
	text-decoration: underline;
	padding-top: 25px;
	padding-bottom: 10px;
}

section {
	text-align: left;
}

ul, ol {
	display: inline-block;
	text-align: left;
	margin-block-start: 5px;
}


body {	
	background-color: #f5f5f5;
	margin: 1px;
	border-color: #cc8400;
	border-style: solid;
	border-width: 2px
}

a:link {
	text-decoration: none;
}

a:visited{
	color: black;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 25px;
	background-color: #DDD;
	padding: 10px;
	font-size: 20px;
	word-spacing: 3px;
	border-top-color: #cc8400;
	border-top-style: solid;
	border-top-width: 2px;
}





