h1 {
	font-size: 50px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 4%;
	padding-right: 4%;
	margin: 0px;
	color: #cc8400;
}

header {
	display: flex;
	flex-shrink: 3;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	background-color: #DDD;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cc8400;
}

main {
	padding-top: 15px;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

img {
	padding-left:2;
	padding-right: 1%;
	padding-top: 10px;
}

body {	
	background-color: #f5f5f5;
	margin: 1px;
	padding: 0px;
	border-color: #cc8400;
	border-style: solid;
	border-width: 2px
}

#dank {
	font-size: 30px;
	font-style: italic;
	padding-bottom: 15px;
}

div {
	margin-top: 0px;
	font-size: 23px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 5px;
}

p {
	margin-bottom: 10px;
	
}

/*#katze{
	padding-top:40px;
}
*/

h2 {
	padding-top: 30px;
	font-size: 24px;
}

h3 {
	text-decoration: underline;
}

a.back{
	margin-top: 15px;
	background-color: #DDD;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #cc8400;
}

a:link {
	text-decoration: none;
}

a:visited{
	color: black;
}

#test {
	display: grid;
	width: 50%;
	grid-template-columns: 40% 40%;
	justify-content: center;
	margin-left: 25%;
	margin-right: 20%;
	grid-column-gap: 5%;
	border-color: #cc8400;
	border-width: 2px;
	border-style: solid;
	background-color: #EEE;
	padding-bottom: 10px;
}

ul {
	display: inline-block;
	align-items: center:
	padding: 0px;
	margin: 0px;
}

li{
	display: block;
	text-align: left;
}

#last{
	padding-top: 10px;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #DDD;
	font-size: 20px;
	word-spacing: 3px;
	border-top-color: #cc8400;
	border-top-style: solid;
	border-top-width: 2px;
}